<nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #b3995d;">
  <span class="navbar-brand mb-0 h1" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/American_football.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      49ersHub
  </span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/depthchart">Depth Chart</a>
        <li class="nav-item">
          <a class="nav-link" href="/injuries">Injuries</a>
        <li class="nav-item">
          <a class="nav-link" href="/madden-tournament-generator">Madden</a>
      </li>
    </li>
  </ul>
  </ul>
</li>
</ul>





  </div>
</nav>
