{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<div class="jumbotron col text-center">
	  <h1 class="display-4 text-center">49ersHub</h1>
		<div class="text-center img-responsive"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/San_Francisco_49ers_logo.svg?fit=scale" alt=""></div>
		<hr class="my-4">
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Vertical_red_bar.svg?fit=scale" width="500" height="600" alt="" style="position:fixed; right:1390px; bottom:0px; width:100px; height:800px; border:none;">
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Vertical_red_bar.svg?fit=scale" width="500" height="600" alt="" style="position:fixed; right:-50px; bottom:0px; width:100px; height:800px; border:none;"
	></div>
		  <p class="lead"><center>This website allows you to quickly and efficiently check all of the 49ers recent data. With 49ersHub, you no longer have to slog away to find accurate, current 49ers data. </center> </p> 
		  <hr class="my-4">
			<br>
		  <a class="btn btn-primary btn-lg btn-block .text-center" href="/depthchart" role="button">Start With the Depth Chart!</a>
		</div>

	</div>


{% endblock %}


