{% extends 'layout.html' %}

{% block body %}



<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">{{ text }} Injuries</h1>
		  <hr class="my-4">
		  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Vertical_red_bar.svg?fit=scale" width="500" height="600" alt="" style="position:fixed; right:1390px; bottom:0px; width:100px; height:800px; border:none;">
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Vertical_red_bar.svg?fit=scale" width="500" height="600" alt="" style="position:fixed; right:-50px; bottom:0px; width:100px; height:800px; border:none;">
		  <p><b>Injured:</b> <br/>
		  	{{ data[0] }} <br/>
		  	{{ data[1] }}<br/>
		  	{{ data[2] }}<br/>
		  	{{ data[3] }}<br/>
		  	{{ data[4] }}<br/>
		  	{{ data[5] }}<br/>
		  	{{ data[6] }}<br/>
		  	{{ data[7] }}<br/>
		  	{{ data[8] }}<br/>
		  	{{ data[9] }}<br/>
		  	{{ data[10] }}<br/>
		  	{{ data[11] }}<br/>
		  	{{ data[12] }}<br/>
		  	{{ data[13] }}<br/>
		  	{{ data[14] }}<br/>
		  	{{ data[15] }}<br/>
		  	{{ data[16] }}<br/>
		  	{{ data[17] }}<br/>
		  	{{ data[18] }}<br/>
		  	{{ data[19] }}<br/>
		  	{{ data[20] }}<br/>
		  	{{ data[21] }}<br/>
		  	{{ data[22] }}<br/>
		  	{{ data[23] }}<br/>
		  	{{ data[24] }}<br/>
		  	{{ data[25] }}<br/>
		  	{{ data[26] }}<br/>
		  	{{ data[27] }}<br/>
		  	{{ data[28] }}<br/>
		  	{{ data[29] }}<br/>
		  	{{ data[30] }}<br/>
		  	{{ data[31] }}<br/>
		  	{{ data[32] }}<br/>
		  	{{ data[33] }}<br/>
		  	{{ data[34] }}<br/>
		  	{{ data[35] }}<br/>
		  	{{ data[36] }}<br/>
		  	{{ data[37] }}<br/>
		  	{{ data[38] }}<br/>
		  	{{ data[39] }}<br/>
		  	{{ data[40] }}<br/>
		  	{{ data[41] }}<br/>
		  	{{ data[42] }}<br/>
		  	{{ data[43] }}<br/>
		  	{{ data[44] }}<br/>
		  	{{ data[45] }}<br/>
		  	{{ data[46] }}<br/>
		  	{{ data[47] }}<br/>
		  	{{ data[48] }}<br/>
		  	{{ data[49] }}<br/>
		  	{{ data[50] }}<br/>
		  	{{ data[51] }}<br/>
		  	{{ data[52] }}<br/>
		  	{{ data[53] }}<br/>



			</p>
		  <a class="btn btn-primary btn-md" href="/injuries" role="button">Back</a>
		</div>
</div>


{% endblock %}
